.App {
	text-align: center;
}

.App-body {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.flight-search {
	display: flex;
	width: 80%;
	margin-bottom: 10px;
}

li {
	list-style-type: none;
}

.status-box {
	display: flex;
	align-items: center;
}
.status-details {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
}
