.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flight-numer {
  width: 80%;
}

li {
  list-style-type: none;
}

.status-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}